<main>
  <!-- about-myself -->
  <div class="container-work">
    <h1 class="title-name">Петро Мазурик</h1>
    <h2 class="title-work"></h2>
    <!-- <h3 class="title">Summary</h3> -->
    <p class="additional-information">
      Інженер-механік з досвідом роботи.
      Вмію ефективно вирішувати проблеми та співпрацювати в команді.
      Швидко навчаюся, відповідальний та завжди готовий
      до викликів, прагну досконалості у своїй роботі та постійного розвитку.
    </p>


    <!-- work -->

    <div>
      <h3 class="title">Досвід роботи</h3>

      <div class="work-container">
        <h3 class="subtitle-work">
          Оператор технологічних установок
          <span class="subtitle-profession"> компанії «Галичфарм»</span>
        </h3>
        <p class="working-hours">
          Жовтень 2016 р. – по сьогодні.
          <span class="delimiter"></span>
        </p>

        <ul>
          <li class="work-list">
            Виробництво різних лікарських засобів.
          </li>
          <li class="work-list">
            Маю сертифікат наставника та навчаю студентів цій роботі.
          </li>

        </ul>
      </div>

      <div class="work-container">
        <h3 class="subtitle-work">
          механік, компанія «Галпан»
        </h3>
        <p class="working-hours">
          Березень 2001 р. – лютий 2010 р.
          <span class="delimiter"></span>
        </p>

        <ul>
          <li class="work-list">
            Організація та контроль роботи автотранспорту компанії.
          </li>
          <li class="work-list">
            Організація та доставка будівельних матеріалів на будівельні майданчики.
          </li>
        </ul>
      </div>


    </div>

    <!-- Освіта -->
    <div>
      <h3 class="title">Освіта</h3>
      <div class="study-container">
        <h3 class="title-institution">ІТ-школа GoIT</h3>

        <p class="study-profession">
          Фулстек-розробник
          <a target="_blank" href="#" class="project-link"></a>
        </p>
        <p class="working-hours">
          Липень 2022 - травень 2024
          <span class="delimiter">|</span>
          Україна
        </p>
      </div>

      <div class="study-container">
        <p class="title-institution">Івано‑Франківський національний технічний університет нафти і газу</p>
        <p class="study-profession"> Інженер-механік</p>
        <p class="working-hours">
          Вересень 1996 - червень 2001 <span class="delimiter"></span>
        </p>
      </div>

      <div class="study-container">
        <p class="title-institution">Івано-Франківського СПТУ-4</p>
        <p class="study-profession">Монтажник радіоапаратури і приладів</p>
        <p class="working-hours">
          вересень 1991 - червень 1992 <span class="delimiter"></span>
        </p>
      </div>
    </div>
  </div>
</main>